# Archivos de usuario y configuración local
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de compilación
bin/
obj/
Debug/
Release/

# Archivos de cache y temporales
*.log
*.tlog
*.vspscc
*.vssscc
*.dbmdl
*.bak
*.cache
*.pdb

# Carpetas de Visual Studio
.vs/

# Archivos de paquetes NuGet
*.nupkg
packages/

# Archivos de dependencias compiladas
*.dll
*.exe

# Archivos de configuración de IDE
*.dtbcache.v2
*.ide
*.swp

# Archivos de publicación
publish/
Database/ScriptSeguridad_BCrypt.sql
